@import url(https://fonts.bunny.net/css?family=asap-condensed:200,400,600);

/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

:root {
    --background-color: #e9e9e9;
    --accent-color: #643c00;
    --primary-color: #ddccc0db;
    --text-color: #333;
    --main-font: 'Asap Condensed', sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-family: var(--font-family);  
    display: grid;
    grid-template-rows: 9rem, 1fr, auto;
    min-height: 100dvh;
}

header {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 3rem;
}

main {
  background-color: var(--background-color);
}

footer {
  background-color: var(--accent-color);
  text-align: center;
  padding: 3rem;
}

footer a, footer p, footer h4 {
  color: var(--background-color);
  margin-bottom: 1rem;

}

a {
    color: var(--primary-color);
    text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-family: var(--main-font);
  margin-bottom: 2rem;
}

h2, h3, h4, p, a {
  font-family: var(--main-font);
  color: var(--accent-color)
}

.logo-header {
  max-width: 19rem;
}

.btn {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 600;
  padding: 1rem 3rem;
  display: inline-block;
}
