/* Drink page styles */

header h1 {
  font-size: large;
  margin-bottom: 1rem;
}

header h2 {
  font-size: xx-large;
}

#drink-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; 
}

.drink-image {
    max-width: 100%;
    border-top: 18px solid var(--accent-color);
}

/* Field labels for Country of origin, Rating and Caffeinated */
.field {
  font-weight: 700;
}

p {
  font-size:large;
  line-height: 1.5rem;
}

.drink-review {
  width: 100%;
  border: 1px solid var(--primary-color);
  /* edged corner on card */
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);
  /* edged corner on card end */
  padding: 1rem;
  background-color: var(--primary-color);
}

.back-btn {
  width: 12rem;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

@media (max-width: 900px) {
  main {
  max-width: 90%;
  margin: 0 auto;
  }
}